# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
packages/

# Visual Studio cache
*.VC.db
*.VC.VC.opendb

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db